@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body
{
    padding: 0;
    margin: 0;

    font-family: 'Roboto', sans-serif;
}
body
{
    background-color: black;
    color: white;
}

.container
{
    padding: 10px 5px;
    margin-left: auto;
    margin-right: auto;

    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: center;

    word-wrap: normal;
}
.clock
{
    padding: 5px 0;

    width: 100%;
    text-align: center;
}
.main
{
    width: 100%;

    display: flex;
    flex-direction: row;

    text-align: center;
    place-content: start center;

    flex-wrap: wrap;

    column-gap: 10px;
    row-gap: 10px;
}
.card
{
    min-width: 48%;

    padding: 0 5px;

    flex: 1;

    display: flex;
    flex-direction: column;

    max-height: fit-content;

    border: 3px solid white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.foot
{
    text-align: center;
    padding-top: 50px;
    width: 100%;
}
.content
{
    width: 100%;

    padding: 10px 0;

    display: flex;

    flex-wrap: wrap;

    row-gap: 5px;
    column-gap: 5px;

    text-align: center;
}
.tile
{
    border: 1px solid white;

    flex: 1;

    min-width: 49%;
    height: 100px;
}

#logo
{
    padding: 10px 0;
    width: 100%;
    text-align: center;
    border: 5px solid white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.clock #clock
{
    font-size: 30px;
}
#logo h1
{
    font-size: 45px;
}

::-webkit-scrollbar
{
    background-color:  rgba(0, 0, 0, 0);
    width: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
::-webkit-scrollbar-track
{
    background-color:  rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb
{
    background-color: white;
    border-radius: 10px;
}
